<div class="row" id="welcome">
	<img class="center-block img-responsive" src="assets/signup.jpg" />
</div>

<h1>Sign Up</h1>
	<% if @user.errors.messages.present? %>
		<ul class="list-group">
    		<% @user.errors.full_messages.each do |msg| %>
        	<li class="list-group-item list-group-item-danger"><%= msg %></li>
        	<% end %>
    	</ul>
    <% end %>

<%= form_for @user do |f| %>

	<div>
		<%= f.label :username %>
		<%= f.text_field :username %>
	</div>
	<div>
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div>
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div>
		<%= f.label :password_confirmation %>
		<%= f.password_field :password_confirmation %>
	</div>
	<div>
		<%= f.submit 'Sign Up!' %>
	</div>


<% end %>
